<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/new">Add user</a>
    </nav>

    <form method="post" action="/new">
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" placeholder="user">
        <button type="submit">Submit</button>
    </form>
</body>
</html>