<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="get" action="/">
        <label for="search"></label>
        <input type="text" id="search" name="search" placeholder="search">
        <button type="submit">Search</button>
    </form>

    <nav>
        <a href="/">Home</a>
        <a href="/new">Add user</a>
    </nav>
    <ul class="usersList">
        <%usernames.map((user)=>{%>
                <li><%=user.username%></li>
        <%}) %>
    </ul>


    <a href="/delete"><button>Delete</button></a>
</body>
</html>