<!DOCTYPE html>
<html lang="en">
<%- include("./parts/head") %>
<body>
    <%- include("./parts/nav") %>
    <%- include("./parts/header")%>

    <form method="post" action="/new">
        <label for="user">
            User:
            <input placeholder="John Doe" type="text" name="user" id="user">
        </label>
        <label for="message">
            Message:
            <textarea placeholder="Hello world" name="message" id="message"></textarea>
        </label>
        <button type="submit">Post</button>
    </form>
</body>
</html>