*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 40px 100px;
}
.navigation{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    border-bottom: 2px solid #BEBEBE;
    padding-bottom: 10px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #C72023;
    cursor: pointer;
}
.logo span{
    font-size: 16px;
    color: black;
}
.logo{
    font-size: 24px;
    font-weight: 800;
    color: #C72023;
}
.header{
    font-size: 36px;
    margin-top: 60px;
}

.message{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 2px solid #DCDCDC;
}
.message:hover{
    border-bottom: 2px solid #C72023;
    color: #C72023;
}
.message:hover .msgDate{
    border: 1px solid #C72023;
}
.mgsText{
    padding-left: 16px;
    width: 60ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msgTop{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.msgDate{
    padding: 5px 16px;
    border: 1px solid #BEBEBE;
    border-radius: 20px;
}
.msgName{
    font-size: 16px;
}
form{
    margin-top: 50px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
input[type="text"]{
    height: 43px;
    padding: 12px;
    font-weight: 600;
}
textarea{
    height: 140px;
    padding: 12px;
    font-weight: 600;
}
label{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
button{
    width: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.individual{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.individual .msgText{
    padding-left: 16px;
}
.individual .msgDate{
    width: fit-content;
}


@media screen and (max-width:700px){
    body{
        padding: 40px 40px;
    }
    .navigation{
        display: flex;
        align-items: start;
        gap: 10px;
        flex-direction: column;
    }
    .links{
        gap: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .mgsText{
        padding-left: 16px;
        width: 30ch;
    }
}

@media screen and (max-width:400px){
    body{
        padding: 40px 26px;
    }
    .navigation{
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
    .links{
        gap: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        text-align: center;
        width: 100%;
    }
    .mgsText{
        padding-left: 16px;
        width: 30ch;
    }
}